
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: none;
}
.form_box {
    width: 42rem;
    height: 25vh;
    padding: .4rem 1rem;
    border: 1px solid rgb(189, 182, 182);
    border-radius: 1rem;
}
.icon {
   margin-left: 41rem;
   font-size: 1.2rem;
   cursor: pointer;

}

.form_box_item_h1 {
    font-size: 2.1rem;
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.795);
}

.form_box_item_h2 {
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.795);
}

#test {
    width: 39.5rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(189, 182, 182);
    border-radius: .5rem;

}

.form_box_btn {
    display: flex;
    gap: 1.2rem;
    margin-top: .5rem;
    margin-left: 45vh;
     

}
.form_box_btn_1 {
    width: 8rem;
    padding: .5rem .1rem;
    border-radius: .5rem;
    background: white;
    cursor: pointer;
}

.form_box_btn_2 {
    width: 8rem;
    padding: .5rem .1rem;
    border-radius: .5rem;
    background: rgb(134, 132, 132);
    color: white;
    cursor: pointer;
}

.active {
    display: block;
}